# Database
DB_HOST=crypto_db
DB_PORT=5432
DB_NAME=crypto
DB_USER=user
DB_PASSWORD=your_secure_password

# Streamlit
STREAMLIT_PORT=8501

# Airflow
AIRFLOW__CORE__FERNET_KEY=change_me_to_a_secure_key
AIRFLOW__CORE__LOAD_EXAMPLES=False

# PGAdmin (only for local dev)
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123
